.patient-card {
    border: 1px solid #37169c;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .patient-card:hover {
    transform: translateY(-5px);
  }
  
  .card-buttons button {
    margin: 0 5px;
  }
  
  .card-buttons button:hover {
    transform: scale(1.1);
  }
  