td{
    text-align: center;
}
table{
    /* border: 1px solid red; */
    margin: 0 auto;
}
.leftTD{
    color: red;
    /* font-size: 20px; */
    font-weight: bold;
    text-align: left;
}
.RightTD{
    text-align: left;
}